<div class="container">
  <div class="row">
    <div class="col-12">
      <a class="event" href="<%= external_url %>">
        <div class="row">
          <div class="col-3">
            <h3 class="date"><%= day %><br /><%= date %></h3>
            <p class="time"><%= time %></p>
          </div>
          <div class="col-9">
            <h3><%= headline %></h3>
            <p><%= short_description %></p>
            <p class="link">Find out more and sign up</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
