---
title: Power Pack Sheffield
---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="visually-hidden">Power Pack Sheffield</h1>
        <a href="/">
          <%= image_tag 'power-pack-logo.svg', class: 'power-pack-logo' %>
        </a>
        <nav class="main-nav">
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/how-it-works">How it works</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container about">
  <div class="row">
    <div class="col-8">
      <h2>Brought to you by Co-op Digital</h2>
      <p>
        We are the digital product research team at Co-op Digital in Manchester.
      </p>
      <p>
        We've created Power Pack to bring people together to buy and sell local renewable energy.
      </p>
      <p>
        Before we start making software, we need to get our feet muddy. Understanding how relationships in a community like this will work means getting a bunch of people together in a field. Our approach is to learn by doing - getting out of the office and into the real world.
      </p>
      <p>
        Power Pack is inspired by <a href="http://www.energylocal.co.uk/">Energy Local</a>'s work at <a href="http://www.energylocal.co.uk/cydynni-the-guide/">Bethesda</a> and <a href="http://www.energylocal.co.uk/projectswell/">Shrivenham</a>.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Meet the team</h2>
    </div>
  </div>
</div>

<div class="container team-container">

  <%= partial(
    "team_member",
    locals: {
      name: "Sophy",
      role: "Content",
      image: "sophy.jpg",
      link_to: "https://twitter.com/sophycolbert"
    })
  %>

  <%= partial(
    "team_member",
    locals: {
      name: "Ian",
      role: "Product",
      image: "ian.jpg",
      link_to: "https://twitter.com/idrysdale"
    })
  %>

  <%= partial(
    "team_member",
    locals: {
      name: "Paul",
      role: "Engineering",
      image: "paul.jpg",
      link_to: "https://twitter.com/paul_furley"
    })
  %>


  <%= partial(
    "team_member",
    locals: {
      name: "James",
      role: "Design",
      image: "james.jpg",
      link_to: "https://twitter.com/jamesarice"
    })
  %>

  <%= partial(
    "team_member",
    locals: {
      name: "Helen",
      role: "Delivery",
      image: "helen.jpg",
      link_to: "https://twitter.com/hmurray99"
    })
  %>

  </div>
</div>

<div class="signup">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= partial('partials/signup') %>
      </div>
    </div>
  </div>
</div>

<%= partial('partials/footer') %>
