---
title: Power Pack
---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="visually-hidden">Power Pack</h1>
        <%= image_tag 'power-pack-logo.svg', class: 'power-pack-logo' %>
        <nav class="main-nav">
          <ul>
            <li><a href="about">About</a></li>
            <li><a href="how-it-works">How it works</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="strapline">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Local, renewable power</h2>
        <p>Electricity made by your neighbours</p>
      </div>
    </div>
  </div>
</div>

<div class="container about">
  <div class="row">
    <div class="col-12 cta">
      <h2>Power Pack connects local people with local energy</h2>

      <h3>Fed up with buying energy from large national suppliers?</h3>

      <p><strong>Power Pack</strong> is a way for communities to buy renewable energy from local producers at a better price for everyone.</p>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="callout">
        <h3 class="first">Cheaper</h3>
        <%= image_tag 'savings.svg' %>
        <p>10% cheaper on average</p>
      </div>
    </div>
    <div class="col-4">
      <div class="callout">
        <h3 class="second">Greener</h3>
        <%= image_tag 'solar.svg' %>
        <p>Renewable energy</p>
      </div>
    </div>
    <div class="col-4">
      <div class="callout">
        <h3 class="third">Closer to home</h3>
        <%= image_tag 'community.svg' %>
        <p>Benefit as a community</p>
      </div>
    </div>
  </div>
</div>

<div id="map" class="map-large"></div>

<div class="container map-find map-large">
  <div class="row">
    <div class="col-8">
      <div>
        <%= partial('partials/postcode-search') %>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <p>Any questions? Email <a href="mailto:sophy@powerpack.org.uk">sophy@powerpack.org.uk</a></p>
      </div>
      <div class="col-4">
        <%= image_tag 'coop-logo-white.svg' %>
      </div>
    </div>
  </div>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiaWFuZHJ5c2RhbGUiLCJhIjoiY2owY2xvdWJjMDAxaDMzbXp4cTRtMDY4cyJ9.C-j6LkLP4yyH8OqCieSdfA';
  var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
      center: [-1.47, 53.37], // starting position
      zoom: 8 // starting zoom
  });

  map.scrollZoom.disable();
</script>
