---
title: Power Pack
---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="visually-hidden">Power Pack</h1>
        <%= image_tag 'power-pack-logo.svg', class: 'power-pack-logo' %>
        <%= partial 'partials/navigation' %>
      </div>
    </div>
  </div>
</div>
<div class="strapline">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Local, renewable power</h2>
        <p>Electricity made by your neighbours</p>
      </div>
    </div>
  </div>
</div>

<div class="container about">
  <div class="row">
    <div class="col-12 cta">
      <h2>Power Pack connects local people with local energy</h2>
      <p><strong>Power Pack</strong> is a new way to buy renewable energy from people near you at a better price for everyone.</p>
    </div>
  </div>
</div>

<div id="map" class="map-large"></div>

<div class="container map-find map-large">
  <div class="row">
    <div class="col-9">
      <div>
        <%= partial('partials/postcode-search') %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Community energy groups</h1>
      <p>Connect with people in your area who want to buy your energy</p>
      <p>Find your group on our <a href="https://almanac.powerpack.org.uk">Endless Energy Almanac</a></p>
    </div>
  </div>
</div>

<%= partial('partials/footer') %>

<%= partial('partials/mapbox-default') %>
