---
title: Power Pack <%= location_name %>
---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="visually-hidden">Power Pack <%= location_name %></h1>
        <%= image_tag 'power-pack-logo.svg', class: 'power-pack-logo' %>
        <nav class="main-nav">
          <ul>
            <li><a href="about">About</a></li>
            <li><a href="how-it-works">How it works</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="strapline">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Local, renewable power</h2>
        <p>Electricity made by your neighbours</p>
      </div>
    </div>
  </div>
</div>

<div id='map'></div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Upcoming local energy events</h2>
    </div>
  </div>
</div>

<%= partial("event",
  locals: {
    external_url: "https://www.eventbrite.co.uk/e/power-pack-sheffield-trip-to-povey-farm-tickets-33014309689",
    day: "Wednesday",
    date: "29th March",
    time: "11am - 1pm",
    headline: "Visit a farm powered by renewable energy",
    short_description: "Meet farmer Stephen Thompson and learn about the wind turbine and solar panels powering his pig farm."
  })
%>

<%= partial("event",
  locals: {
    external_url: "https://www.eventbrite.co.uk/e/power-pack-sheffield-trip-to-povey-farm-2-tickets-33051136840",
    day: "Saturday",
    date: "8th April",
    time: "2pm - 4pm",
    headline: "Visit a local wind turbine and solar array",
    short_description: "Spend an afternoon with Stephen Thompson at Povey Farm. We'll learn about the renewable energy powering his pig farm."
  })
%>




<div class="container about">
  <div class="row">
    <div class="col-12 cta">
      <h2>Power Pack connects local people with local energy</h2>
      <p><strong>Power Pack</strong> is a way for communities to buy renewable energy from local producers at a better price for everyone.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="callout">
        <h3 class="first">Cheaper</h3>
        <%= image_tag 'savings.svg' %>
        <p>10% cheaper on average</p>
      </div>
    </div>
    <div class="col-4">
      <div class="callout">
        <h3 class="second">Greener</h3>
        <%= image_tag 'solar.svg' %>
        <p>Renewable energy</p>
      </div>
    </div>
    <div class="col-4">
      <div class="callout">
        <h3 class="third">Closer to home</h3>
        <%= image_tag 'community.svg' %>
        <p>Benefit as a community</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 cta">
      <p>
        Join Power Pack <%= location_name %> and get more of your electricity from local renewable sources.
      </p>
      <p>
        When it's available, you'll use electricity from local wind turbines and solar panels - at a better price for everyone.
      </p>
    </div>
  </div>
</div>

<div class="signup">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= partial('partials/signup') %>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <p>Any questions? Email <a href="mailto:sophy.colbert@coop.co.uk">sophy.colbert@coop.co.uk</a></p>
      </div>
      <div class="col-4">
        <%= image_tag 'coop-logo-white.svg' %>
      </div>
    </div>
  </div>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiaWFuZHJ5c2RhbGUiLCJhIjoiY2owY2xvdWJjMDAxaDMzbXp4cTRtMDY4cyJ9.C-j6LkLP4yyH8OqCieSdfA';
  var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
      center: [-1.47, 53.37], // starting position
      zoom: 11 // starting zoom
  });

  map.scrollZoom.disable();
</script>

<script type="text/javascript">
  window.Intercom("boot", {
    app_id: "fgxz8mjd"
  });

</script>
