---
title: Power Pack
---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="visually-hidden">Power Pack</h1>
        <%= image_tag 'power-pack-logo.svg', class: 'power-pack-logo' %>
        <%= partial 'partials/navigation' %>
      </div>
    </div>
  </div>
</div>
<div class="strapline">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Greener, cheaper power</h2>
      </div>
    </div>
  </div>
</div>

<div class="container about">
  <div class="row">
    <div class="col-12 cta">
      <h2>Power Pack connects local people with greener energy</h2>
      <p><strong>Power Pack</strong> is a new way to buy renewable energy with people near you at a better price for everyone.</p>
    </div>
  </div>
</div>

<div class="background-photo" style="background-image: url(<%= image_path "field.jpg" %>)"></div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Community energy groups</h1>
      <p>Raise money for your community energy group by encouraging local people to
      switch to a green energy provider.</p>

      <h2>What you get</h2>
      <ul>
        <li>£25 for every household that switches to a green energy company (once 50+ households have pledged)</li>
        <li>Regular reports on how many households have switched, how much money you’ve raised, and how much CO2 your group has saved.</li>
        <li>Ready-made website and templates for flyers, tweets, emails and texts to send to households.</li>
      </ul>

      <h2>How it works</h2>
      <ul>
        <li>You’re not asking households for money — you’re asking them to switch energy supplier.</li>
        <li>We find the best deal for the household — from a 100% renewable energy company.</li>
        <li>If they’ve never switched before — they will save money.</li>
      </ul>
    </div>
  </div>
</div>

<%= partial('partials/footer') %>

<%= partial('partials/mapbox-default') %>
