---
title: Power Pack
---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="visually-hidden">Power Pack <%= location_name %></h1>
        <a href="/">
        <%= image_tag 'power-pack-logo.svg', class: 'power-pack-logo' %>
        </a>
        <span class="pack-name"><%= location_name %></span>
        <%= partial 'partials/navigation' %>
      </div>
    </div>
  </div>
</div>
<div class="strapline">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Yay! There's already a pack in your area</h2>
      </div>
    </div>
  </div>
</div>

<div id='map'></div>

<div class="signup">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Join <%= location_name %> Power Pack</h2>
        <%= partial('partials/signup-variable') %>
      </div>
    </div>
  </div>
</div>

<%= partial('partials/footer') %>

<%= partial('partials/mapbox-variable') %>
