---
title: Power Pack
---

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="visually-hidden">Power Pack <%= location_name %></h1>
        <a href="/">
        <%= image_tag 'power-pack-logo.svg', class: 'power-pack-logo' %>
        </a>
        <span class="pack-name"><%= location_name %></span>
        <%= partial 'partials/navigation' %>
      </div>
    </div>
  </div>
</div>
<div class="strapline">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Start a pack in your area</h2>
      </div>
    </div>
  </div>
</div>

<div id='map'></div>

<div class="signup">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Start <%= location_name %> Power Pack</h2>
        <p>There’s no power pack in your area, yet.</p>
        <p>It’s easy to start a pack, and we will help you to</p>
        <ul>
          <li>get in touch with your local community renewable energy group</li>
          <li>find out how much money you could save</li>
          <li>find out how much money you’ll keep in your local economy</li>
          <li>recruit other members</li>
        </ul>

        <%= partial('partials/signup-variable') %>
      </div>
    </div>
  </div>
</div>

<%= partial('partials/footer') %>

<%= partial('partials/mapbox-variable') %>
